div, button, text {
  font-family: Futura !important;
}
.background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/images/bg.png);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  z-index: -1;
}

.btn {
  background-image: url(./assets/images/btn.png);
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-button {
  padding: 18px 32px;
  border-radius: 120px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Poppins, sans-serif;
  font-size: .73em;
  line-height: 1.04em;
  letter-spacing: .25em;
  text-transform: uppercase;
}

.cta-button:hover {
  box-shadow: 6px 6px 13px 1px rgb(0 0 0 / 12%);
  transform: translate(0px,-8px);
  color: #fff;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
  }
}

.tech-slideshow {
  height: 400px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 400px;
  width: 2560px;
  /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);*/
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-70%);
  }
}

.wallet-modal__list__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-bottom: 1px dotted rgb(48, 47, 47);
  margin-bottom: 5px;

}
